
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
}
.container img{
    height: 70px;
    width: auto;
    margin-top: 20px;
}
.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.search button {
    height: 30px;
    width: 30px;
}
.search {
    height: 20px;          
    width: 20px;           
    border-radius: 50%;      
}
.localGroup{
    display: flex;
    justify-content: center;
    align-items: center;
}
.local{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center ;
    height: 30px;
    width: 800px;
    background-color: aqua;
}